/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: -50px; /* Adjust this value to move it up */
    left: 0;
    width: 100%;
    height: 110vh; /* Ensure it covers the screen */
    background: url('./Components/Assets/bg.jpg') no-repeat center/cover;
    z-index: -1;
}
